/* General Reset and Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.6;
  }
  
  /* Projects Container */
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px;
    transition: all 0.3s ease;
  }
  
  /* Individual Project Card */
  .pd {
    background: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover effect for individual project card */
  .pd:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .proName {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: white;
    border-bottom: 0.01px solid white;
  }
  
  /* Project Image */
  .proImage {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    transition: all 0.3s ease;
  }
  
  .proImage:hover {
    transform: scale(1.05);
  }
  
  /* Project Description */
  .proDesc {
    width: 75%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
  
  /* Tools List */
  .proToolsOL {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }
  
  .proTool {
    font-size: 1.2rem;
    color: white;
    margin: 5px 15px; /* Add margin to space tools out horizontally */
    text-align: center;
  }
  
  /* Navigation Arrows */
  .arrowButtons {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
  }
  
  .arrowButtons:hover {
    background-color: #45a049;
  }
  
  /* Container for arrows, placed on the bottom of the project section */
  .arrowContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ensures spacing between the buttons */
    margin-top: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .pd {
      width: 100%;
      padding: 15px;
    }
  
    .proName {
      font-size: 1.6rem;
    }
  
    .proDesc {
      font-size: 0.95rem;
    }
  
    .proToolsOL {
      font-size: 0.9rem;
    }
  
    .arrowButtons {
      padding: 8px 15px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .proName {
      font-size: 1.4rem;
    }
  
    .proDesc {
      font-size: 0.9rem;
    }
  
    .proTool {
      font-size: 0.8rem;
    }
  
    .arrowButtons {
      padding: 8px 15px;
      font-size: 1rem;
    }
  }
  