.techSkills {
  /* border: 1px solid red;*/
  width: 90%;
  margin: 0 auto;
  border-top: 0.01px solid rgb(175, 175, 175);
}

.techSkills h2 {
  position: relative;
  font-size: 2vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw gray;
  text-transform: uppercase;
}
.techSkills h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 1px solid white;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 32%;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.icons img {
  width: 14%;
  height: 8vw;
  object-fit: contain;
  padding: 15px;
  margin: 20px 25px;
  /* Optional: you can add a subtle background or border */
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.icons img:hover {
  transform: scale(1.2);
}
