@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

:root {
  --size: 42px;
  --black: #2b2b2b;
  --black2: #000;
}
body {
  background-color: var(--black2);
  color: white;
  height: auto;
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .typing-container {
    #feature-text {
      margin-left: 8px;
      font-size: 38px;
    }
    .input-cursor {
      display: inline-block;
      width: 2px;
      height: var(--size);
      background-color: white;
      margin-left: 8px;
      animation: blink 0.6s linear infinite alternate;
    }

    #sentence {
      font-size: 38px;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}







